﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="epochApp">
<head>
    <title></title>
    <link href="Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="Content/cover.css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
    </style>
</head>
<body ng-controller="signalRController as epoch" ng-cloak>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Cover</h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#/assets">Assets</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Cover your page.</h1>
                    <input type="text" ng-model="epoch.newMessageText" />
                    <button ng-click="epoch.sendMessage(epoch.newMessageText)" class="btn-primary">send</button>

                    <div ng-repeat="message in epoch.messages">
                        {{message.b}}
                    </div>
                    <a href="#/route1">Route 1</a><br />
                    <a href="#/route2">Route 2</a><br />

                    <div ng-view></div>
                   
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/jquery.signalR-2.0.2.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/signalr-hub.js"></script>
    <script src="App/app.js"></script>
    <script src="App/controllers.js"></script>
    <script src="App/signalR.factory.js"></script>
    <script src="App/controller1.js"></script>
    <script src="/signalr/hubs"></script>
</body>
</html>
