﻿<div ng-controller="assetsFormController as assets">
    <form role="form">
        <div class="form-group">
            <label for="assetsScanIdentifier">Scan Identifier</label>
            <input type="text" class="form-control" id="assetsScanIdentifier" placeholder="Scan Identifier" ng-model="assets.scanIdentifier" />

        </div>
        
        <div class="form-group">
            <label for="assetsName">Scan Identifier</label>
            <input type="text" class="form-control" id="assetsName" placeholder="Name" ng-model="assets.scanIdentifier" />

        </div>

    </form>


</div>